/*350px
350px*/
*{
    padding: 0;
    margin: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
#detail{

    width: 1000px;
    margin: 0 auto;
    padding-top: 50px;
}
#detail>div{
    float: left;
    width: 350px;
    height: 350px;
}
#detail img{
    width: 350px;
    height: 350px;
}
#detail .good-message{
    padding: 40px 0 15px 39px;
    color: #878787;
    font-size: 16px;
    text-align: center;
}
#detail .good-price>span:nth-of-type(1){
    font-size: 12px;
    line-height: 18px;
    color: rgb(153,153,153);
    padding: 15px 10px 100px 40px;
}
#detail .good-price>span:nth-of-type(2){
    color: rgb(16,131,255);
    font-size: 18px;
}
#detail .message>a{
    text-align: center;
    background: url('../img/carticon.png') no-repeat;
    display: inline-block;
    width: 160px;
    height: 32px;
    margin-left: 40px;
    margin-top: 26px;
    border: none;
    color: black;
    line-height: 32px;
    font-size: 13px;
    border: 1px solid black;
    background-color: #fff;
    text-decoration: none;
    cursor: pointer;
}

/*显示要登录时样式变化*/
#bgzoom{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1px;
    background-color: #333;
    opacity: 0.4;
    display: none;
}
#sure-cart{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 433px;
    height: 127px;
    background-color: #000;
    overflow: hidden;
    border-radius: 7px;
    display: none;
}
#sure-cart>p:nth-of-type(1){
    height: 33px;
    background: url('../img/alertcart.png') no-repeat;
    background-position: 10px 4px;
    background-color: rgb(40, 35, 34);
}
#sure-cart>p:nth-of-type(2){
    height: 94px;
    line-height: 94px;
    text-align: center;
    background-color: rgb(241, 242, 247);
    color: #333;
    font-size: 12px;
}
#sure-cart .remove-alert{
    width: 33px;
    height: 32px;
    margin-left: 400px;
    background-color: initial;
    outline: none;
    border: none;
    cursor: pointer;
}




