*{
    padding:0;
    margin: 0;
}

a{
    text-decoration: none;
    font-family: 'Hiragino Sans GB','冬青黑体','Hiragino Kaku Gothic ProN','Microsoft Yahei' ,'Simsun','Arial', 'Helvetica', 'sans-serif';
}
/*初始化记得完善*/

/*缩写要写前面*/
#nav_top{
    width:100%;
    background-color: #25292e;
    height: 56px;
}
/*有子元素浮动了，所以父元素要添加overflow：hidden*/
#nav_top>div{
    /*overflow: hidden;*/
    width: 1000px;
    height: 56px;
    margin: 0 auto;
}
#nav_top>div>div{
    float: left;
    height:56px;
}
#nav_top>div ul{
    float: right;
    list-style-type: none;
}
#nav_top>div ul li{
    float:left;
    line-height: 56px;
    text-align: center;
    position: relative;
}
/*a是行内元素*/
#nav_top>div li>a{
    color: #ccc;
    font-size:12px;
    text-decoration: none;
    padding: 0 15px;
}
/*[display：none]*/
#nav_top ul li .dropbox{
    display: none;
    position: absolute;
    top:56px;
    left:-120px;
    width: 320px;
    z-index: 14;
    /*height: 160px;*/
    /*background-color: rgb(41,47,52);*/
}
#nav_top ul li a.ccczoom{
    color: #666;
    border-left: 1px solid #525961;
}

#nav_top ul li:hover>a.ccczoom{
    /*background-color:#000;*/
    color: #ccc;
}
#nav_top ul li:hover p>a{
    color: #ccc;    
}
#nav_top ul li:hover p.fffzoom>a{
    color: #fff;
}
#nav_top ul li.dbfdezoom:hover{
    background-color: rgb(41,47,52);
    
}
#nav_top ul li .dropbox_inner>p{
    background-color: rgb(41,47,52);
}
#nav_top ul li .drop1 p+p{
    background-color: #7dbfde;
    
}
#nav_top ul li .dropbox_inner a{
    color: #ccc;
    font-size: 13px;   
}
#nav_top .dropbox.drop2{
    width:160px;
    padding: 0 15px;
    left:-70px;
    background-color: rgb(41,47,52);
}

#nav_top .dropbox.drop2 a{
    display: block;
    height:44px;
    border-bottom: 1px solid #3f4449;
    line-height: 44px;
}

#nav_top .dropbox.drop2 a>span{
    float:left;
}
#nav_top .dropbox.drop2 a>span+span{
    float:right;
}

#nav_top .dbfdezoom:hover>.drop1{
    display: block;
}
#nav_top .dbfdezoom:hover>.drop2{
    display: block;
}


/*顶部分类产品导航样式*/
#nav_classify{
    width: 100%;
    height:49px;
}
#nav_classify>div{
    width: 1000px;
    height: 49px;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
}
/*#nav_classify>div>*{
    float:left;
}*/
#goodsClassfiy{
    float: left;
    width:665px;
    height: 49px;
}
#goodsClassfiy>li{
    float: left;
    list-style-type: none;
    border-bottom: 4px solid #ededed;
    /*margin-left:15px;*/
    text-align: center;
    line-height: 45px;
}
#goodsClassfiy>li:hover{
    border-bottom-color: #25292e
}
#goodsClassfiy>li>a{
    font-size: 18px;
    color:#333;
    display: block;
    padding: 0 15px;
}
/*按钮搜索功能*/
#nav_classify>div>div{
    float:right;
    width: 335px;   
    height: 45px;
    border-bottom: 4px solid #ededed;    
}
/*输入盒子*/
#navzoom{
    width: 335px;
    height: 45px;
    position: relative;
    left:335px;
    /*display: none;*/
    border-bottom: 4px solid #25292e;
}



#nav_classify>div>div input{
    width: 335px;
    height: 25px;
    padding: 10px 0;
    border: none;
    /* background-color: #f00; */
    outline: none;
    color: #878787;
    font-family: Arial;
    font-weight: 600;
    font-size: 16px;
}
#nav_classify .nav_c12>a{
    background: url('../img/serchicon.png') no-repeat; 
    background-color: #fff;
    display: inline-block;
    width: 40px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 0px;
    
}











/*iBanner的轮播效果*/
.carousel{
    width: 100%;
    height:510px;
    padding-top: 25px;
}
#carousel{
    width: 1000px;
    height: 510px;
    padding-top: 25px;
    margin:0 auto;
    /*一级div的关键属性*/
    position: relative;
    overflow-x:hidden;
}

/*banner图片部分*/
#carousel .m_unit{
    width:9000px;
    position: absolute;
    top:0;
    left:0;
}
#carousel .m_unit ul{
    list-style: none;
}
#carousel .m_unit ul>li{
    float: left;
    overflow: hidden;
    width:1000px;
    height: 475px;
}

/*按钮部分*/
#carousel .btns>a{
    position:absolute;
    width:50px;
    height: 50px;
    top:50%;
    margin-top:-50px;
    z-index: 999;
    border-radius: 100%;
    display: none;
}
#carousel .btns>a:hover{
    background-color: #878787;
}
#carousel .btns>a.onStyle{
    display: block;
}
#carousel .btns>.leftBtn{
    left:10px;
    background-image:url("../img/right.png");
    
}
#carousel .btns>.rightBtn{
    right:10px;
    background-image:url("../img/left.png");  
}

#carousel .circles{
    position: absolute;
    padding: 10px 0  7px;
    height: 18px;
    margin: 0 auto;
    width: 770px;
    bottom:20px;
}
#carousel .circles>ol{
    list-style: none;
    margin-left: 50%;
}
#carousel .circles>ol>li{
    float: left;
    width:20px;
    height:4px;
    margin:0 3px;
    background: #e8e8e8; 
}
#carousel .circles>ol>li.onStyle{
    background-color: #45494d;
}

/*热门商品样式*/
.goodlist{
    width:100%;
}
#goodList{
    width:1000px;
    margin: 0 auto;
    position: relative;
}
#goodList>div{
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding: 46px 0 30px 0;
}
#goodList>div>span{
    color: #333;
    font-family: "微软雅黑";
}

#goodList>ul{
    list-style: none;
    padding-top: 10px;
}
#goodList>ul>li{
    float: left;
    position: relative;
    cursor: pointer;
    width:300px;
    height:300px;
    margin: 0 15px 30px;
}
#goodList>ul>li img{
    width: 300px;
    height:300px;
    opacity: 1;
    position:absolute;
    z-index: -100;
}
#goodList>ul>li:hover img{
    opacity:0.4;
}
#goodList>ul>li:hover>.bgzoom{
    position: relative;
    /*z-index: 0;*/
    background-color: #000;
    /*border-radius: 100%;*/
    /*display: none;*/
    opacity:0.9;
    height:300px;
}
#goodsUl li>.bgzoom>a>p{
    display: none;
}
#goodsUl li:hover>.bgzoom>a{
    text-align: center;
}
#goodsUl li:hover>.bgzoom p.bg01{

    position: absolute;
    width: 300px;
    top:100px;
    z-index: 1;
    color: #fff;
    font-size:14px;
    font-weight: bold;
    display: inline-block;
}
#goodsUl li:hover>.bgzoom p.bg02{
    position: absolute;
    display: inline-block;
    top: 165px;
    z-index: 1;
    color: #fff;
    font-size:12px;
}
#goodsUl li:hover>.bgzoom p.bg03{
    position: absolute;
    top:0;
    left:0;
    display: inline-block;
    color: #0c6eba;
    font-size:20px;
    font-style:italic;
    font-weight: bold;
}


/*当商品不存在时跳出弹窗*/
#greybg{
    width: 100%;
    height: 300%;
    position: absolute;
    top:0;
    left:0; 
    z-index: 1px;
    background-color: #333;
    opacity: 0.4;
    display: none;
}

#alettip{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 433px;
    height: 127px;
    background-color: #000;
    overflow: hidden;
    border-radius: 7px;
    display: none;
}
#alettip>p:nth-of-type(1){
    height: 33px;
    background: url('../img/alertcart.png') no-repeat;
    background-position: 10px 4px;
    background-color: rgb(40, 35, 34);
}
#alettip>p:nth-of-type(2){
    height: 94px;
    line-height: 94px;
    text-align: center;
    background-color: rgb(241, 242, 247);
    color: #333;
    font-size: 12px;
}
#alettip .remove-alert{
    width: 33px;
    height: 32px;
    margin-left: 400px;
    background-color: initial;
    outline: none;
    border: none;
    cursor: pointer;
}